<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionName="V 1.0"
    package="com.jdjt.mangrove">

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 拨打电话权限 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- 开启gps -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 开启摄像头 -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />

    <uses-feature android:name="android.hardware.autofocus" />

    <uses-permission android:name="android.permission.HARDWARE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.DOWNLOAD_WITHOUT_NOTIFICATION" />
    <!-- tools:ignore="HardcodedDebugMode" -->
    <application
        android:name=".application.MangrovetreeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Base"
        tools:replace="android:icon">
        <meta-data
            android:name="com.fengmap.mapapi.appkey"
            android:value="586474d3190f48f1974777a7a847b063" />

        <activity android:name=".WelcomeActivity"
          >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.fengmap.drpeng.OutdoorMapActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fengmap.drpeng.IndoorMapActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.fengmap.drpeng.SearchActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".login.LoginAndRegisterFragmentActivity" />
        <activity
            android:name=".login.PesonalInfoActivity"
            android:label="@string/app_person_activity" />
        <activity
            android:name=".login.FindPasswordActivity"
            android:label="@string/app_find_password_activity" />
        <activity
            android:name=".login.SettingActivity"
            android:label="@string/setting" />
        <activity
            android:name=".login.UpdatePasswordActiviy"
            android:label="@string/app_change_pwd" />
        <activity
            android:name=".login.ChangePhoneActivity"
            android:label="@string/app_change_phone" />
        <activity
            android:name=".login.ChangeNameActivity"
            android:label="@string/app_change_name" />
        <activity
            android:name=".login.AccountBandingResetActivity"
            android:label="@string/app_change_phone" />
        <activity
            android:name=".login.FindPasswordResetActivity"
            android:label="@string/app_find_password_activity" />
        <activity
            android:name=".activity.MapSearchAcitivity"
            android:label="@string/title_activity_map_search_acitivity"
            android:theme="@style/AppTheme.Base" />
        <activity
            android:name=".login.UserAgreementWebActivity"
            android:label="@string/app_xy_wv"
            android:theme="@style/AppTheme.Base" />

        <service android:name=".service.DownloadService" android:enabled="true"/>
    </application>

</manifest>